/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/

#login{
  @include center(940px);
  padding-top: 48px;
}
.login__container {
  padding: 36px 0;
  @include center(940px, 36px);
  @extend %color__background--white;
  margin-top: 48px;
  .login__container--social{
    @include column(5/12, $gutter: 0);
  }
  .login__container--separator--mannual{
    @include column(7/12, $gutter: 0);
    .login__container--separator {
      @include column(3/12, $gutter: 0);
      .login__container--separator--box {
        position: relative;
        width: 0px;
        border-left: 1px solid $semi-dark-gray;  
        margin: 0 auto;
        min-height: 360px; 
        span {
          $size:50px;
          width:$size; height:$size; 
          position:absolute; 
          bottom:100%; margin-bottom:-$size/2;
          left:0%; margin-left:-26px;
          top: 50%;
          margin-top: -$size/2;
          border-radius:100%;
          background: $white;
        }
        span i {
          $offset:4px;
          border:1px solid $semi-dark-gray;  
          position:absolute;
          top:$offset; bottom:$offset;
          left:$offset; right:$offset;
          border-radius:100%;
          text-align:center;
          line-height:40px;
          font-style:normal;
          @extend %color__font--black__opacity--Point5;
        }
      }
    }
    .login__container--mannual {
      @include column(9/12, $gutter: 0);
      // background-color: yellow;
    }
  }
  .login__container--forgot--password {
    @include center(940px, 36px);
    form{ width: 97%;}
    position: relative;
    .flip__board--trigger-forgot{
      position: absolute;
      right: 18px;
      top: 12px;
      @extend %color__font--link-blue;
      i{margin-top: 2px;}
    }
  }
}


$trans: 0.6s;
$spinY: 180deg; 

.flip__board {
  height: 360px;
  position: relative;
  transition: $trans;
  transform-style: preserve-3d;
  .flip__board--front, .flip__board--back {
    width: 92%;
    position: absolute;
    backface-visibility: hidden;
  }
  .flip__board--front {
    z-index: 2;
  } 
  .flip__board--back {
    width: 100%;
    left: 0;
    transform: rotateY( $spinY );
  }
  &.flip__board--flip { /* CSS to make element flip on click */
    transform: rotateY( $spinY );
  }
}


