//Blue
$blue: #0288d1;
$link-blue: #1976D2;

//Gray
$light-gray: #F5F5F5;
$semi-dark-gray: #CCCCCC;

//Black
$black: #000000;

// White
$white: #FFFFFF;

//Yellow
$yellow: #FFC107;

// Green
$green: #388E3C;
$done-green: #4CAF50;

//Red
$error-red: #F44336;

//Brand colors
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #0077B5;
$google: #db4437;
$odesk: #5EA32B;
$elance: #0067B1;
