
body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include font($source-sans-pro);
	// @extend %color__background--light-gray;
}
* a{
	text-decoration: none;
}
img {
	display: block;
}

// Float element

.float--right{ float: right; }
.float--left { float: left; }
.float--none { float: none; }