
body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// background-color: $brand-color;
	color: $brand-color2;
	@include font($source-sans-pro);
}
* a{
	text-decoration: none;
	color: $brand-color2;
}

%center{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
