// Font color extend

// Black
%color__font--black { color: $black; }
%color__font--black__opacity--Point8 { color: rgba($black,.8);}
%color__font--black__opacity--Point5 { color: rgba($black,.5);}

%color__font--white { color: $white; }

%color__font--semi-dark-gray { color: $semi-dark-gray; }

%color__font--done-green { color: $done-green; }

%color__font--error-red { color: $error-red; }

%color__font-blue { color: $blue; }
%color__font--link-blue { color: $link-blue; }

%color__font--facebook { color: $facebook; }
%color__font--twitter { color: $twitter; }
%color__font--google { color: $google; }
%color__font--odesk { color: $odesk; }
%color__font--elance { color: $elance; }

/****************************************************************************/

// Background color extend

%color__background--white { background-color: $white; }

%color__background--blue { background-color: $blue; }

%color__background--done-green { background-color: $done-green; }

%color__background--light-gray { background-color: $light-gray; }


%color__background--facebook { background-color: $facebook; }
%color__background--twitter { background-color: $twitter; }
%color__background--linkedin { background-color: $linkedin; }
%color__background--google { background-color: $google; }
%color__background--odesk { background-color: $odesk; }
%color__background--elance { background-color: $elance; }

// Grid
%center{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

