header{
  @include stack();
  @extend %color__background--blue;
  height: 96px;
}
.header--container{
  height: 100%;
  @include center(940px);
  .nav__logo--container {
    @include span(1);
    display: block;
    margin: 18px 0 0 0;
    .icon-ct{
      font-size: 28px;
      @extend %color__font--white ;
    }
  }
  nav{
    @include span(1);
    margin-top: 12px;
    li{
      float: left;
      text-align: center;
      margin-right: 30px;
      @extend %font__margin--TopBottom0;
      &:last-child{
        float: right;
        margin-right: 0;
      }
      &:first-child{
        a{
          padding-left: 0;
        }
      }
    }
    a{
      padding: 0 12px 6px;
      display: block;
      @extend %color__font--white;
      @include transition(all .2s);
      &.selected{
        border-bottom: 2px solid $yellow;
      }
      &:hover{
        color: rgba($white,.5);
      }
    }
  }
}

